.footer-component{
    width: 100%;
    height: 40vh;
}
.footer-items{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
}
.footer-img-items{
    margin-left: -3rem;
}
.footer-img-items img{
    margin: 1.4rem 0;
}

.footer-img-items p{
 font-size: 1.5rem;
 width: 600px;
 margin: 1.3rem 0;
 color: rgb(79, 78, 78);
}
.footer-item{
    width: auto;
    /* margin-top: 2rem; */
    color:rgb(79, 78, 78);
}
.footer-item ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-item li{
    list-style: none;
    margin: 1.4rem -1.5px;
    font-size: 1.4rem;
    cursor: pointer;
}
.footer-item h4{
    font-size: 1.5rem;
}

.footer-copyright p{
    text-align: center;
    margin: 1rem 0;
    font-size: 1.4rem;
}

@media screen and (max-width:1550px){
    .footer-img-items {
        margin: 0 3rem;
    }    
    .footer-items{
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width:1250px){
    .footer-items{
        flex-wrap: wrap;
    }   
}
@media screen and (max-width:630px){
    .footer-items{
        flex-wrap: wrap;
        
    }
    .footer-item li{
      margin: 0 0.8rem;
    }
    
    .footer-img-items{
        display: none;
    }   
   
    .footer-items h4{
        font-size: 1rem;
    }
    .footer-items li{
        font-size: 0.8rem;
    }
    .footer-copyright p{
        font-size: 1rem;
    }

}